<div class="checkout-content">
  <div class="checkout-content-l">
    <div class="title">
      <div class="text">發票</div>
      <div class="progress">
        <span class="circle check">
          <span class="material-icons"> check </span>
        </span>
        <span class="line check"></span>
        <span class="circle check">
          <span class="material-icons"> check </span>
        </span>
        <span class="line check"></span>
        <span class="circle radio">
          <span></span>
        </span>
      </div>
    </div>
    <ul class="bill-list">
      <li class="bill-list-option e-bill click">電子發票</li>
      <li class="bill-list-option m-bill">郵寄發票</li>
    </ul>

    <div class="checkout-form">
      <div class="checkout-form-item">
        <label class="checkout-form-item-title">電子郵件信箱</label>
        <input type="text" placeholder="example@email.com" />
      </div>
      <div class="checkout-form-item">
        <label class="checkout-form-item-title">統一編號（選填）</label>
        <input type="text" placeholder="12345678" />
      </div>
      <button class="order-button checkout-success" type="button">下一步</button>
    </div>
  </div>
  <div class="checkout-content-r">
    <div class="shopping-cart-order">
      <div class="title">訂單摘要</div>
      <div class="text">
        <span>小計</span>
        <span>NT$ 2,700</span>
      </div>
      <div class="text">
        <span>運費</span>
        <span>NT$ 300</span>
      </div>
      <div class="text total">
        <span>總計</span>
        <span>NT$ 3,000</span>
      </div>
    </div>

    <div class="shopping-cart-order">
      <div class="title">購物清單</div>
      <div class="order-detail">
        <img src="https://bit.ly/2QvsT63" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
      <div class="order-detail">
        <img src="https://bit.ly/2zBDAxX" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
      <div class="order-detail">
        <img src="https://bit.ly/2zKOP7w" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
    </div>
  </div>
</div>
