<div class="checkout-content">
  <div class="checkout-content-l">
    <div class="title">
      <div class="text">運送</div>
      <div class="progress">
        <!-- <span class="circle check">
          <span class="material-icons"> check </span>
        </span> -->
        <span class="circle radio">
          <span></span>
        </span>
        <span class="line"></span>
        <span class="circle"></span>
        <span class="line"></span>
        <span class="circle"></span>
      </div>
    </div>
    <div class="checkout-form">
      <div class="checkout-form-g">
        <div class="checkout-form-item">
          <label class="checkout-form-item-title">姓氏</label>
          <input style="width: 100%;" type="text" placeholder="王" />
        </div>
        <div class="checkout-form-item">
          <label class="checkout-form-item-title">名字</label>
          <input  style="width: 100%;" type="text" placeholder="小明" />
        </div>
      </div>
      <div class="checkout-form-item">
        <label class="checkout-form-item-title">電話</label>
        <input type="text" placeholder="0912-345-678" />
      </div>
      <div class="checkout-form-item">
        <label class="checkout-form-item-title">地址</label>
        <div class="checkout-form-g">
          <select style="margin-bottom: 0.4rem">
            <option>高雄市</option>
          </select>
          <select style="margin-bottom: 0.4rem">
            <option>新興區</option>
          </select>
        </div>
        <input type="text" placeholder="幸福路 520 號" />
      </div>
      <button class="order-button checkout-pay" type="button">下一步</button>
    </div>
  </div>
  <div class="checkout-content-r">
    <div class="shopping-cart-order">
      <div class="title">訂單摘要</div>
      <div class="text">
        <span>小計</span>
        <span>NT$ 2,700</span>
      </div>
      <div class="text">
        <span>運費</span>
        <span>NT$ 300</span>
      </div>
      <div class="text total">
        <span>總計</span>
        <span>NT$ 3,000</span>
      </div>
    </div>

    <div class="shopping-cart-order">
      <div class="title">購物清單</div>
      <div class="order-detail">
        <img src="https://bit.ly/2QvsT63" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
      <div class="order-detail">
        <img src="https://bit.ly/2zBDAxX" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
      <div class="order-detail">
        <img src="https://bit.ly/2zKOP7w" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
    </div>
  </div>
</div>
