<div class="checkout-success-content content-max">
  <div class="content-center">
    <div class="text-content">
      <div class="progress">
        <span class="circle check">
          <span class="material-icons"> check </span>
        </span>
        <span class="line check"></span>
        <span class="circle check">
          <span class="material-icons"> check </span>
        </span>
        <span class="line check"></span>
        <span class="circle check">
          <span class="material-icons"> check </span>
        </span>
      </div>
      <img class="title" src="../img/lg-付款成功.svg" alt="img" />
    </div>
    <button class="order-button home-page-b" type="button">繼續逛逛</button>
  </div>
</div>
