<div class="checkout-content">
  <div class="checkout-content-l">
    <div class="title">
      <div class="text">付款</div>
      <div class="progress">
        <span class="circle check">
          <span class="material-icons"> check </span>
        </span>
        <span class="line check"></span>
        <span class="circle radio">
          <span></span>
        </span>
        <span class="line"></span>
        <span class="circle"></span>
      </div>
    </div>
    <div class="checkout-form">
      <div class="checkout-form-item">
        <span class="material-icons"> credit_card </span>
        <label class="checkout-form-item-title">信用卡卡號</label>
        <input type="text" placeholder="9012-3456-7890-1234" />
      </div>

      <div class="checkout-form-item">
        <label class="checkout-form-item-title">持卡人姓名</label>
        <div class="checkout-form-g">
          <input type="text" placeholder="王" />
          <input type="text" placeholder="小明" />
        </div>
      </div>

      <div class="checkout-form-item">
        <label class="checkout-form-item-title">有效期限</label>
        <div class="checkout-form-g">
          <select>
            <option>月</option>
          </select>
          <select>
            <option>年</option>
          </select>
        </div>
      </div>

      <div class="checkout-form-item">
        <label class="checkout-form-item-title">背面末三碼</label>
        <div class="checkout-form-g">
          <input type="text" placeholder="123" />
        </div>
      </div>
      <button class="order-button checkout-Ebill" type="button">下一步</button>
    </div>
  </div>
  <div class="checkout-content-r">
    <div class="shopping-cart-order">
      <div class="title">訂單摘要</div>
      <div class="text">
        <span>小計</span>
        <span>NT$ 2,700</span>
      </div>
      <div class="text">
        <span>運費</span>
        <span>NT$ 300</span>
      </div>
      <div class="text total">
        <span>總計</span>
        <span>NT$ 3,000</span>
      </div>
    </div>

    <div class="shopping-cart-order">
      <div class="title">購物清單</div>
      <div class="order-detail">
        <img src="https://bit.ly/2QvsT63" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
      <div class="order-detail">
        <img src="https://bit.ly/2zBDAxX" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
      <div class="order-detail">
        <img src="https://bit.ly/2zKOP7w" alt="img" />
        <div class="text">
          <span>焦糖馬卡龍（2）</span>
          <span>NT$ 900</span>
        </div>
      </div>
    </div>
  </div>
</div>
