<div class="banner content-max">
  <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/banner.png" alt="img" />
</div>
<div class="dessert-content content-max">
  <ul class="dessert-content-list">
    <li class="dessert-item title">甜點類別</li>
    <li class="dessert-item all">所有甜點（48）</li>
    <li class="dessert-item">本日精選（10）</li>
    <li class="dessert-item">人氣推薦（26）</li>
    <li class="dessert-item">新品上市（12）</li>
  </ul>
  <ul class="dessert-content-menu">
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2QiWeQW" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2zBjQuq" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2zKOP7w" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2NcDVuB" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2zBDAxX" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2zL5jN7" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <div class="page">
      <div class="page-last">
        <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_left.png" alt="img" />
      </div>
      <div class="page-number click">1</div>
      <div class="page-number">2</div>
      <div class="page-number">3</div>
      <div class="page-next none">
        <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_right.png" alt="img" />
      </div>
    </div>
  </ul>
</div>
