<div class="content-max top">
  <div class="content-max-in ">
    <div class="mail-bar">
      <div class="mail-textG">
        <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-light.svg" alt="logo" />
        <div class="mail-textG-text">訂閱你我的甜蜜郵件</div>
      </div>
      <div class="mail-send">
        <div class="mail-send-input">
          <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/mail-24px.png" alt="mail" />
          <input type="text" id="mail" />
        </div>
        <div class="mail-send-btn">
          <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/arrow_forward-24px.png" alt="arrow" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-max bottom">
  <div class="content-max-in ">
    <div class="content">
      <div class="content-l">
        <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/logotype-lg-dark.svg" alt="logo" />
        <div class="content-l-G">
          <ul class="info">
            <li>07-1234-5678</li>
            <li>sweetaste@email.com</li>
            <li>800 高雄市新興區幸福路 520 號</li>
          </ul>
          <ul class="media">
            <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/ic-line@.svg" alt="line" />
            <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/ic-facebook.svg" alt="fb" />
          </ul>
        </div>
      </div>
      <div class="content-r">
        <img src="https://raw.githubusercontent.com/catus-nox/M3_2403_rocket_dessertRWD/main/img/sm-今天是個吃甜點的好日子.svg" alt="img" />
        <div class="copyright">© 2018 Sweetaste* All Rights Reserved</div>
      </div>
    </div>
  </div>
</div>
