<div class="content-max">
  <div class="logo">
    <img src="../img/logo-dark.svg" alt="img" />
    <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/logotype-lg-dark.svg" alt="img" />
  </div>
  <div class="header-btnG">
    <div class="header-menu-btn">
      <div></div>
    </div>
    <ul class="header-menu menu">
      <li class="header-menu-option menu menu-home">首頁</li>
      <li class="header-menu-option menu menu-dessert">甜點</li>
      <li class="header-menu-option menu menu-login">登入</li>
    </ul>
    <div class="header-btn">
      <div class="shopping-cart">
        <img src="https://hexschool.github.io/webLayoutTraining1st/student-week1/shopping_cart.png" alt="img" />
      </div>
    </div>
  </div>
</div>
