<div class="content-max">
  <div class="banner">
    <img src="https://bit.ly/2OhbMHr" alt="img" />
    <ul class="dessert-menu">
      <li class="dessert-option">
        <span> 本日精選 </span>
      </li>
      <li class="dessert-option">
        <span>人氣推薦</span>
      </li>
      <li class="dessert-option">
        <span>新品上市</span>
      </li>
    </ul>
  </div>
</div>

<div class="dessert-introduce">
  <div class="dessert-introduce-block">
    <div class="content-max">
      <div class="title"></div>
      <div class="text">
        <span>青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</span>
        <span>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</span>
      </div>
      <img src="https://bit.ly/2xPn7Eq" alt="img" />
    </div>
  </div>
  <div class="dessert-introduce-block">
    <div class="content-max">
      <div class="title"></div>
      <div class="text">
        <span>青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</span>
        <span>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</span>
      </div>
      <img src="https://bit.ly/2zzAQS4" alt="img" />
    </div>
  </div>
</div>

<div class="dessert-bar content-max">
  <div class="title"></div>
  <ul class="dessert-menu">
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2zBjQuq" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2zBDAxX" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
    <li class="dessert-option">
      <div class="img-G">
        <span>本日精選</span>
        <img class="favorite" src="https://hexschool.github.io/webLayoutTraining1st/student-week1/favorite_border.png" alt="img" />
        <div class="dessert">
          <img src="https://bit.ly/2QbVsVR" alt="img" />
        </div>
      </div>
      <div class="info">
        <span>焦糖馬卡龍</span>
        <span>NT$ 450</span>
      </div>
      <button type="button">加入購物車</button>
    </li>
  </ul>
</div>
