<div class="login-content">
  <div class="login-content-ll">
    <div class="title">會員登入</div>
  </div>
  <div class="login-content-l">
    <form class="login-form">
      <div class="login-form-item">
        <span class="material-icons"> person </span>
        <input type="text" id="mail" placeholder="電子信箱/手機號碼" />
      </div>
      <div class="login-form-item">
        <span class="material-icons"> vpn_key </span>
        <input type="password" id="pass" placeholder="請輸入使用者密碼" />
      </div>
      <div class="login-form-item check-content">
        <label class="login-form-item-title">
          記住我
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>
      </div>
    </form>
    <button class="login-button" type="button">登入帳號</button>
  </div>

  <div class="login-content-r">
    <div class="title">—— 連結社群帳號 ——</div>
    <div class="social-g">
      <span>
        <img src="../img/ic-facebook-logotype.svg" alt="facebook" />
      </span>
      <span>
        <img src="../img/ic-google.svg" alt="google" />
      </span>
      <span>
        <img src="../img/ic-yahoo.svg" alt="yahoo" />
      </span>
    </div>
  </div>
</div>
