<div class="shopping-cart-content content-max">
  <div class="shopping-cart-content-l">
    <div class="title">您的購物車</div>

    <ul class="shopping-cart-list">
      <li class="shopping-cart-list-item">
        <div class="shopping-cart-list-item-content">
          <img src="https://bit.ly/2QvsT63" alt="img" />
          <div class="info-content">
            <div class="info-content-text">
              <div>焦糖馬卡龍</div>
              <div>NT$ 450</div>
            </div>
            <div class="quantitys">
              <div>-</div>
              <div>2</div>
              <div>+</div>
            </div>
          </div>
        </div>
        <div class="price">NT$ 900</div>
        <span class="material-icons"> delete_outline </span>
      </li>
      <li class="shopping-cart-list-item">
        <div class="shopping-cart-list-item-content">
          <img src="https://bit.ly/2zBDAxX" alt="img" />
          <div class="info-content">
            <div class="info-content-text">
              <div>焦糖馬卡龍</div>
              <div>NT$ 450</div>
            </div>
            <div class="quantitys">
              <div>-</div>
              <div>2</div>
              <div>+</div>
            </div>
          </div>
        </div>
        <div class="price">NT$ 900</div>
        <span class="material-icons"> delete_outline </span>
      </li>
      <li class="shopping-cart-list-item">
        <div class="shopping-cart-list-item-content">
          <img src="https://bit.ly/2zKOP7w" alt="img" />
          <div class="info-content">
            <div class="info-content-text">
              <div>焦糖馬卡龍</div>
              <div>NT$ 450</div>
            </div>
            <div class="quantitys">
              <div>-</div>
              <div>2</div>
              <div>+</div>
            </div>
          </div>
        </div>
        <div class="price">NT$ 900</div>
        <span class="material-icons"> delete_outline </span>
      </li>
    </ul>
  </div>
  <div class="shopping-cart-content-r">
    <div class="shopping-cart-order">
      <div class="title">訂單摘要</div>
      <div class="text">
        <span>小計</span>
        <span>NT$ 2,700</span>
      </div>
      <div class="text">
        <span>運費</span>
        <span>NT$ 300</span>
      </div>
      <div class="text total">
        <span>總計</span>
        <span>NT$ 3,000</span>
      </div>
    </div>
    <button class="order-button checkout" type="button">結帳</button>
  </div>
</div>
